.feed{
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  background-color: whitesmoke;
  margin-bottom: 2.2em; /* seperates each post */
  padding-bottom: 6px;
  padding-inline: 1cm;
}

/* border shading, @ pops, all non-border lines thicker + char */
.feed:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.feed.tweet-header{
  display: flex;
  justify-content: space-between;
}

.feed.tweet-body{
  border-bottom: black;
  border-bottom-style: solid;
}

.feed.tweet-footer{
  border-top: black;
  margin: 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fright {
  float: right;
}

#headtop {
  /*display: flex;*/
  flex-direction: row;
  justify-content: space-between;
}