.feed{
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  background-color: whitesmoke;
  margin-bottom: 2.2em; /* seperates each post */
  padding-bottom: 6px;
  padding-inline: 1cm;
}

.feed #at , .feed #tweet-buttons{
  opacity: 0.1;
}

/* border shading, @ pops, all non-border lines thicker + char */
.feed:hover{
  box-shadow: 10px 10px grey;
  transition: opacity .3s ease-in-out;
}

.feed:hover #at , .feed:hover #tweet-buttons{
  opacity: 1.0;
  transition: opacity .3s ease-in-out;
}


.feed.tweet-header{
  display: flex;
  justify-content: space-between;

}

.feed.tweet-body{
  border-bottom: black;
  border-bottom-style: solid;

}

.feed.tweet-footer{
  border-top: black;
  margin: 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.fright {
  float: right;
}

#headtop {
  /*display: flex;*/
  flex-direction: row;
  justify-content: space-between;
}