nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  position:sticky;top:0;
}

span {
  font-family: Bungee;
}

/* .sticky {
  position: fixed;
  top: 0;
  width:100%;
}

.sticky + .main {
  padding-top: 60px;
} */